.container {
  background-color: #eaecf0;
  height: fit-content;
  padding: 0.2rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  width: 250px;
}

.input {
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
}

.input:focus {
  outline: #037abf solid 2px;
}

.form {
  display: flex;
  flex-direction: column;
}

.button_container {
  display: flex;
  margin-top: 5px;
}

.button {
  background-color: #037abf;
  padding: 0.4rem;
  border: none;
  color: white;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.close {
  font-size: 18px;
  cursor: pointer;
}
