.button {
  background-color: #eaecf0;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  width: 250px;
  height: 40px;
  cursor: pointer;
  text-align: left;
  margin-left: 0.5rem;
  font-size: 14px;
  opacity: 0.8;
}

.button:hover {
  background-color: #ddd;
}
