.container {
  height: fit-content;
  border: 1px solid white;
  background-color: #eaecf0;
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 2px;
}

.card_header {
  width: 100%;
}

.input {
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  height: 50px;
  text-align: start;
  resize: none;
  width: 80%;
}