.container {
  width: 100vw;
  background-color: #037ABF;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  letter-spacing: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
}
